<%= erb :menu_commerce %>
<%= erb :pages, arg[:pages] %>

Total: <%= price(arg[:total]) %>
<ul class="item">
<% arg[:items].each do |item| %>
  <li>
  <%= item_wiki(item) %>
  <span class="description">
    <%= item_link(item) %>
    <%= h item_count(item) %>
    <br/>
    <% if item['price'] %>
      <%= price(item['price']) %>
      <%= abbr_time_ago(item['purchased'] || item['created']) %>
      <br/>
    <% end %>
    <%= item_price(item) %>
  </span>
  </li>
<% end %>
</ul>

<%= erb :pages, arg[:pages] %>
