<%= erb :menu_unlocks %>

<%= erb :unlock_percentage,
  :current => arg[:unlocked], :total => arg[:dyes].size %>

Total: <%= price(arg[:buy]) %> / <%= price(arg[:sell]) %>

<ul class="item">
<% arg[:dyes].each do |dye| %>
  <li class="dye">
    <%= item_wiki(dye) %>
    <%= dye_color(dye) %>
    <br/>
    <span class="description">
      <%= h item_name(dye) %>
      <%= h item_count(dye) %>
      <br/>
      <%= item_price(dye) || '(Starter Set)' %>
    </span>
  </li>
<% end %>
</ul>
