<%= erb :menu_unlocks %>

<% if arg[:dyes].size > 0 %>
Unlocked: <%= arg[:unlocked] %> / <%= arg[:dyes].size %>
(<%= ((arg[:unlocked].to_f/arg[:dyes].size)*100).to_i %>%)
<% end %>
<br/>
Total: <%= price(arg[:buy]) %> / <%= price(arg[:sell]) %>
<ul class="item">
<% arg[:dyes].each do |dye| %>
  <li class="dye">
    <%= item_wiki(dye) %>
    <%= dye_color(dye) %>
    <br/>
    <span class="description">
      <%= h item_name(dye) %>
      <%= h item_count(dye) %>
      <br/>
      <%= item_price(dye) || '(Starter Set)' %>
    </span>
  </li>
<% end %>
</ul>
