<% if arg[:buy] > 0 || arg[:sell] > 0 %>
  Total: <%= price(arg[:buy]) %> / <%= price(arg[:sell]) %>
<% end %>

<div>
<% if arg[:acct].any? %>
  <h2><%= menu('/items', 'Account') %></h2>
  <%= erb :item_list, arg[:acct] %>
<% end %>

<% if arg[:bank].any? %>
  <h2><%= menu('/items/bank', 'Bank') %></h2>
  <%= erb :item_list, arg[:bank] %>
<% end %>

<% if arg[:materials].any? %>
  <h2><%= menu('/items/materials', 'Materials') %></h2>
  <%= erb :item_list, arg[:materials] %>
<% end %>

<% arg[:chars].each do |name, (equipments, bags)| %>
  <% equipments.each do |eq| %>
    <h2><%= menu_char(name) %> <%= eq['slot'] %></h2>
    <%= erb :item_show, eq %>
  <% end %>

  <% if bags.any? %>
    <h2><%= menu_char(name) %> Bags</h2>
    <% bags.each do |b| %>
      <%= erb :item_show, b %>
      <%= erb :item_list, b['inventory'] %>
    <% end %>
  <% end %>
<% end %>
</div>
