<ul class="menu">
  <li><%= menu_unlock('/outfits', 'Outfits') %></li>
  <li><%= menu_skin('/backpacks', 'Skins') %></li>
  <li><%= menu_unlock('/gliders', 'Gliders') %></li>
  <li><%= menu_unlock('/dyes', 'Dyes') %></li>
  <li><%= menu_unlock('/minis', 'Minis') %></li>
  <li><%= menu_unlock('/cats', 'Cats') %></li>
  <li><%= menu_unlock('/nodes', 'Nodes') %></li>
</ul>
