<ul class="menu">
  <li><%= menu('/', 'Home') %></li>
  <li><%= menu('/account', 'Account') %></li>
  <li><%= menu('/characters', 'Characters') %></li>
  <li><%= menu('/items', 'Items') %></li>
  <li><%= menu('/wallet', 'Wallet') %></li>
  <li><%= menu_skin('/backpacks', 'Skins') %></li>
  <li><%= menu('/dyes', 'Dyes') %></li>
  <li><%= menu('/minis', 'Minis') %></li>
  <li><%= menu('/achievements/titles', 'Achievements') %></li>
  <li><%= menu_trans('/delivery', 'Transactions') %></li>
  <li><%= menu('/tokeninfo', 'Info') %></li>
  <li><a href="<%= refresh_path %>">Refresh</a></li>
</ul>
