<ul class="menu">
  <li><%= menu('/', 'Home') %></li>
  <li><%= menu('/account', 'Account') %></li>
  <li><%= menu('/characters', 'Characters') %></li>
  <li><%= menu('/items', 'Items') %></li>
  <li><%= menu('/wallet', 'Wallet') %></li>
  <li><%= menu_unlock('/skins/backpacks', 'Unlocks') %></li>
  <li><%= menu('/achievements/titles', 'Achievements') %></li>
  <li><%= menu_commerce('/delivery', 'Commerce') %></li>
  <li><%= menu('/exchange', 'Exchange') %></li>
  <li><%= menu('/tokeninfo', 'Info') %></li>
  <li><a href="<%= refresh_path %>">Refresh</a></li>
</ul>
