<ul class="menu">
<% arg[:names].each do |name| %>
  <li><%= menu_char(name) %></li>
<% end %>
</ul>

<h2>Equipments</h2>
<% if arg[:equi_buy] > 0 || arg[:equi_sell] > 0 %>
Total: <%= price(arg[:equi_buy]) %> / <%= price(arg[:equi_sell]) %>
<% end %>
<% arg[:equi].each do |item| %>
<p>
  <h3><%= item['slot'] %></h3>
  <%= erb :item_show, item %>
</p>
<% end %>

<h2>Bags</h2>
<% if arg[:bags_buy] > 0 || arg[:bags_sell] > 0 %>
Total: <%= price(arg[:bags_buy]) %> / <%= price(arg[:bags_sell]) %>
<% end %>

<% arg[:bags].each do |bag| %>
<p>
  <% if bag %>
  <%= erb :item_show, bag %>
  <ul class="item">
  <% bag['inventory'].each do |item| %>
    <li>
    <% if item %>
      <%= erb :item_show, item %>
    <% else %>
      <%= blank_icon %>
    <% end %>
    </li>
  <% end %>
  </ul>
  <% else %>
    <%= blank_icon %>
  <% end %>
</p>
<% end %>
