<%= erb :menu_unlocks %>

<ul class="menu">
  <li><%= menu_skin('/backpacks', 'Backpacks') %></li>
  <li><%= menu_skin('/weapons/greatsword', 'Weapons') %></li>
  <li><%= menu_skin('/armors/helm/light', 'Armors') %></li>
  <li><%= menu_skin('/gathering', 'Gathering') %></li>
</ul>

<%= erb arg[:skin_submenu], :weight => arg[:weight],
                            :subtype => arg[:subtype] if arg[:skin_submenu] %>

<%= erb :unlock_percentage, arg[:items] %>

<%= erb :item_section, arg[:items] %>
