<ul class="menu">
  <li><%= menu_skin('/backpacks', 'Backpacks') %></li>
  <li><%= menu_skin('/weapons/greatsword', 'Weapons') %></li>
  <li><%= menu_skin('/armors/helm/light', 'Armors') %></li>
</ul>

<%= erb arg[:skin_submenu], :weight => arg[:weight],
                            :subtype => arg[:subtype] if arg[:skin_submenu] %>

<% if arg[:items].size > 0 %>
Unlocked: <%= arg[:unlocked] %> / <%= arg[:items].size %>
(<%= ((arg[:unlocked].to_f/arg[:items].size)*100).to_i %>%)
<% end %>
<br/>
<%= erb :item_section, arg[:items] %>
