<%= erb :menu_guild %>

<% @stash.each do |upgrade| %>
<h2><%= upgrade['name'] %> (<%= price(upgrade['coins'] || 0) %>)</h2>
<%= item_wiki(upgrade) %>
<%= erb :item_section, upgrade['inventory'] %>
<% end %>

<h2>Treasury</h2>
<%= erb :item_section, @treasury %>
