<table id="characters">
  <tr>
    <th>Name</th>
    <th>Profession</th>
    <th>Race &amp; Gender</th>
    <th>Played</th>
    <th>Life Cycle</th>
    <th>Death</th>
    <th>Birth</th>
  </tr>
  <% @chars.each do |c| %>
  <tr>
    <td>
    <%= menu("/characters/#{RC::Middleware.escape(c['name'])}", c['name']) %>
    (<%= h c['level'].to_s %>)
    <br/>
    <%= h c['guild'] %>
    </td>
    <td><%= h c['profession'] %></td>
    <td><%= h "#{c['race']} #{c['gender']}" %></td>
    <td><%= duration(c['age']).take(2).join(' ') %></td>
    <td><%= duration((c['age'].to_f / (c['deaths'] + 1)).round).
          take(2).join(' ') %></td>
    <td><%= c['deaths'] %></td>
    <td><%= h c['created'] %></td>
  </tr>
  <% end %>
</table>
