<% if @buy > 0 || @sell > 0 %>
Total: <%= price(@buy) %> / <%= price(@sell) %>
<% end %>
<ul class="item">
<% @items.each do |item| %>
  <li>
  <% if item %>
    <%= item_wiki(item) %>
    <span class="description">
      <%= h item['name'] || "?#{item['id']}?" %>
      <%= h item_count(item) %>
      <% if damage_type = (item['details'] || {})['damage_type'] %>
      (<%= damage_type %>)
      <% end %>
      <br/>
      <%= item_price(item) %>
    </span>
  <% else %>
    <%= blank_icon %>
  <% end %>
  </li>
<% end %>
</ul>
