<ul class="menu">
  <li><%= menu_item('', 'Account') %></li>
  <li><%= menu_item('/bank', 'Bank') %></li>
  <li><%= menu_item('/materials', 'Materials') %></li>
  <li><%= menu_item('/all', 'All (very slow)') %></li>
</ul>

<%= erb :item_section, arg %>
