Total: <%= price(@buy) %> / <%= price(@sell) %>
<ul class="item">
<% @items.each do |item| %>
  <li>
  <% if item %>
    <%= item_wiki(item) %>
    <span class="description">
      <%= h item['name'] || "?#{item['id']}?" %>
      <%= h item_count(item) %>
      <br/>
      <%= item_price(item) %>
    </span>
  <% else %>
    <%= blank_icon %>
  <% end %>
  </li>
<% end %>
</ul>
