<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type"
          content="application/xhtml+xml; charset=utf-8"/>
    <meta name="description"
          content="GW2 Account Browser allows you to browse your data"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="https://wiki.guildwars2.com/favicon.ico"/>
    <title>GW2 Account Browser</title>
    <style type="text/css">
      .menu li{ display: inline-block; }
      .menu li:before{ content: '| '; }
      .menu li:first-child:before{ content: none; }
      .item li{ display: inline-block; border: 1px solid;
                width: 40%; max-width: 400px;
                padding: 5px; margin: 5px; }
      .description{ display: inline-block; vertical-align: middle; }
      .icon { width: 64px; height: 64px; vertical-align: middle; }
      .price{ vertical-align: -1.5px; padding-left: 1px; }
    </style>
  </head>
  <body>
    <div id="menu">
      <%= erb :menu %>
    </div>
    <div id="access_token">
      <form method="post" enctype="application/x-www-form-urlencoded"
            action="<%= path('/access_token') %>">
        <input type="hidden" name="referrer"
               value="<%= path(request.path) %>"/>
        API Key:
        <input type="text" id="access_token_input" name="access_token"
               size="72" minlength="72" maxlength="72"
               onclick="this.select()"
               value="<%= h decrypted_access_token %>"/>
      </form>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <a href="https://www.godfat.org/gw2/">Site</a>
      /
      <a href="https://github.com/godfat/rest-gw2">Source</a>
      &copy;
      2015 Lin Jen-Shin (godfat.2604)
    </div>
  </body>
</html>
