<ul>
  <li><a href="<%= menu('/') %>">Index</a></li>
  <li><a href="<%= menu('/account') %>">Account</a></li>
  <li><a href="<%= menu('/characters') %>">Characters</a></li>
  <li><a href="<%= menu('/bank') %>">Bank</a></li>
  <li><a href="<%= menu('/materials') %>">Materials</a></li>
  <li><a href="<%= menu('/wallet') %>">Wallet</a></li>
  <li><a href="<%= menu('/transactions') %>">Transactions</a></li>
  <li><a href="<%= menu('/tokeninfo') %>">Info</a></li>
</ul>
