<ul class="menu">
  <li><%= menu('/', 'Home') %></li>
  <li><%= menu('/account', 'Account') %></li>
  <li><%= menu('/characters', 'Characters') %></li>
  <li><%= menu('/bank', 'Bank') %></li>
  <li><%= menu('/materials', 'Materials') %></li>
  <li><%= menu('/wallet', 'Wallet') %></li>
  <li><%= menu_trans('/buying', 'Transactions') %></li>
  <li><%= menu('/tokeninfo', 'Info') %></li>
  <li><a href="<%= refresh_path %>">Refresh</a></li>
</ul>
