<ul class="menu">
  <li><a href="<%= h menu('/') %>">Home</a></li>
  <li><a href="<%= h menu('/account') %>">Account</a></li>
  <li><a href="<%= h menu('/characters') %>">Characters</a></li>
  <li><a href="<%= h menu('/bank') %>">Bank</a></li>
  <li><a href="<%= h menu('/materials') %>">Materials</a></li>
  <li><a href="<%= h menu('/wallet') %>">Wallet</a></li>
  <li><a href="<%= h menu('/transactions') %>">Transactions</a></li>
  <li><a href="<%= h menu('/tokeninfo') %>">Info</a></li>
</ul>
