<ul class="menu">
  <li><%= menu('/', 'Home') %></li>
  <li><%= menu('/account', 'Account') %></li>
  <li><%= menu('/characters', 'Characters') %></li>
  <li><%= menu('/dyes', 'Dyes') %></li>
  <li><%= menu_skin('/backpacks', 'Skins') %></li>
  <li><%= menu('/minis', 'Minis') %></li>
  <li><%= menu('/achievements', 'Achievements') %></li>
  <li><%= menu('/bank', 'Bank') %></li>
  <li><%= menu('/materials', 'Materials') %></li>
  <li><%= menu('/wallet', 'Wallet') %></li>
  <li><%= menu('/items', 'All Items (very slow)') %></li>
  <li><%= menu_trans('/buying', 'Transactions') %></li>
  <li><%= menu('/tokeninfo', 'Info') %></li>
  <li><a href="<%= refresh_path %>">Refresh</a></li>
</ul>
