<ul class="menu">
<% @names.each do |name| %>
  <li><%= menu_char(name) %></li>
<% end %>
</ul>

<h2>Equipments</h2>
<% if @equi_buy > 0 || @equi_sell > 0 %>
Total: <%= price(@equi_buy) %> / <%= price(@equi_sell) %>
<% end %>
<% @equi.each do |item| %>
<p>
  <h3><%= item['slot'] %></h3>
  <%= erb :item_show, item %>
</p>
<% end %>

<h2>Bags</h2>
<% if @bags_buy > 0 || @bags_sell > 0 %>
Total: <%= price(@bags_buy) %> / <%= price(@bags_sell) %>
<% end %>

<% @bags.each do |bag| %>
<p>
  <% if bag %>
  <%= erb :item_show, bag %>
  <ul class="item">
  <% bag['inventory'].each do |item| %>
    <li>
    <% if item %>
      <%= erb :item_show, item %>
    <% else %>
      <%= blank_icon %>
    <% end %>
    </li>
  <% end %>
  </ul>
  <% else %>
    <%= blank_icon %>
  <% end %>
</p>
<% end %>
