<ul class="menu">
  <li><%= menu_skin('/backpacks', 'Backpacks') %></li>
  <li><%= menu_skin('/weapons/greatsword', 'Weapons') %></li>
  <li><%= menu_skin('/armors/helm/light', 'Armors') %></li>
</ul>

<%= erb @skin_submenu if @skin_submenu %>
<%= erb :items %>
